path {
    fill: none;
    stroke: #fff;
    stroke-width: 0.1em;
}

.stageSettingDiv {
  position: absolute;
  left: 0;
  width:22%;
  height:35%;
  margin: 1vh;
}

.pitLaneActivitiesDiv {
  position: absolute;
  right: 0;
  width:27%;
  height:30%;
  margin: 1vh;
}